[General]

# The bluetooth adapter that should be used to connect to Inkbird device (Default: hci0)
adapter = hci0

[Daemon]

# Enable or Disable an endless execution loop (Default: true)
enabled = true

# The period between two measurements in seconds (Default: 1800)
read_interval = 1800

[REST]

# The TCP port this REST server is listening on (Default: 8080)
# Also read from the REST_PORT environment variable
port = 8080

[Sensors]

PoolSensor = AA:BB:CC:DD:EE:FF
